body{
  background-color: #fcd392;
}


/* ----------- Container ----------- */
.container-fluid{
  max-width: 450px;
}

.to-do{
  background-color: white;
}

.top-icon, .my-text{
    color: rgba(75, 75, 75, 0.9);
    vertical-align: middle;
}

.btn.top-text:disabled{
  color: black;
}