html, body {
  position: relative; 
  height: auto;
  min-height: 100% !important;
}

body{
  background: linear-gradient(#fde7b5, #f7d18b);
  background-repeat: no-repeat;
}

/* ----------- Container ----------- */
.container-fluid{
  max-width: 450px;
}

.to-do{
  background-color: white;
}

.top-icon, .my-text{
    color: rgba(75, 75, 75, 0.9);
    vertical-align: middle;
}

.btn.top-text:disabled{
  color: black;
}